@font-face{
	font-family:"Montserrat-HairLine";
	src:url("../fonts/Montserrat-Hairline.otf");
}

@font-face{
	font-family:"Montserrat-Light";
	src:url("../fonts/Montserrat-Light.otf");
}

@font-face{
	font-family:"Montserrat-Bold";
	src:url("../fonts/Montserrat-Bold.otf");
}

.content{
	margin: 0 auto;
	margin-top:65px;	
	width: 95%;
}

.nome, .sobrenome, .papel{	
	font-family:"Montserrat-Light";
}

.nome{
	font-size:20px;
	margin-bottom:-10px;	
}

.sobrenome{
	font-size:20px;		
}

.papel{
	
}

#campoPesquisadoNavbar:focus{
	width: 300px;
}

#tabelaListagem tr:hover {
	cursor: pointer;
}

.cor-vermelha {
	color: red;
	font-size: 20px;
}

#registrolivre {
	font-size: 50px;
	font-family: arial;
}

#divSocios .list-group-item {
	border-radius: 0;
	border-width: 1px 0 0;
	margin: 0 -15px 20px;
}

.margin-100-0-0-0 {
	margin: 100px 0 0 0;
}

.margin-0-30 {
	margin: 0 30px;
}

.margin-0-20 {
	margin: 0 20px;
}

.margin-0-15 {
	margin: 0 15px;
}

.margin-0-6 {
	margin: 0 6px;
}

.margin-6-0 {
	margin: 6px 0;
}

.margin-15-0 {
	margin: 15px 0;
}


.margin-30-0 {
	margin: 30px 0;
}

.margin-35-0 {
	margin: 35px 0;
}

.margin-250-0 {
	margin: 250px 0;
}

.padding-15-0 {
	padding: 15px 0;
}

.padding-6-0 {
	padding: 6px 0;
}

.padding-0-6 {
	padding: 0 6px;
}

.padding-30-0-0-0 {
	padding: 30px 0 0 0;
}

.centralize {
	text-align: center;
}

.width-100{
	width:100%;
}

.a-color-black {
	text-decoration: none;
	color: #000;
}

.a-color-black:hover {
	text-decoration: none;
}

.small {
	font-size: 11px
}

h4 {
	font-weight: bold;
}

.title{
	margin: 50px 0px 30px 0px; 
}

.panel-divider {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.color-red {
	color: #A94442;
}

.msg-alert {
	display: none;
}

.transparente {
	opacity: 0.7;
}

.img-background {
	background-image: url("/assets/img/1.jpg");
	background-size: 1500px 1000px;
	background-repeat: no-repeat;
	font-weight: bold;
}

.btn-borders-navbar li {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-borders-navbar li:first-child {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.img-140 {
	height: 100px;
	width: 100px;
}

.font-size-40 {
	font-size: 40px;
}

.avatar{
	text-align: center;
	margin: 14px 12px;
}

.avatar .nome{
	font-size: 17px;
	height: 30px;
}

.avatar .tipo{
	font-size: 14px;
}

a:hover, .cursor-pointer{
	cursor: pointer;
}

.rodape {	
	position: relative;
	bottom:0;
	width:100%;
}
.novaHr {
	align: center; 
	width: 40; 
	size: 5;
	color: blue;
}
.ajustaRodapeHome{
	margin-top: 320px;	
}

.ajustaRodapeColabore{
	margin-top: 270px;	
}

.imagemGit{
	width: 30px;
	height: 30px;
}

.bg_video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	background: url(../assets/img/xandiAjustado.jpg) no-repeat;
	background-size: cover;
}

.erro{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    height: 500px;
    left: 50%;
    line-height: 5.2em;
    margin-left: -406px;
    margin-top: -250px;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 800px;
}

.erro-botao{
	margin: 35px 0 0 0;
	padding: 20px;
}

.erro-texto{
	text-align: center;
	font-size: 60px;
	font-weight:bold;
	color: #FFFFFF;
	text-shadow: 0px 1px 16px rgba(0,0,0,0.5);
}

.erro-titulo{
	font-size: 80px !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
