
/* Celulares */

@media(max-width:767px){

	body, .select-wrapper select, .form-control{
		font-size: 12px;
	}
	
	h2{
		font-size: 22px;
	}
	
	h4{
		font-size: 14px;
	}
	
	.nav > li {
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	
	.logo{
		width: 119px !important;
		height: 136.85px !important;
	}
	
	.avatar{
		height:230px;
	}
	
	.avatar .imagem{
		width: 145px;
		height:145px;
	}	
	
	.margin-100-0-0-0{
		margin: 25px 0 0 0;
	}
	
	
}


/* Tablets */

@media(min-width:768px){

	.avatar{
		height:230px;
	}
	
	.avatar .imagem{
		width: 145px;
		height:145px;
	}	
	
}



/* Desktops Antigos */

@media(min-width:992px){
	
	.avatar{
		height:230px;
	}
	
	.avatar .imagem{
		width: 145px;
		height:145px;
	}	
	
}


/* Desktop Widescreen */

@media(min-width:1200px){
	
	.avatar{
		height:200px;
	}
	
	.avatar .imagem{
		width: 125px;
		height:125px;
	}
	
}