.content{
	margin: 0 auto;
	margin-top:65px;	
	width: 95%;
}

.nome{
	text-align:center;
}

#campoPesquisadoNavbar:focus{
	width: 300px;
}

#tabelaListagem tr:hover {
	cursor: pointer;
}

.cor-vermelha {
	color: red;
	font-size: 20px;
}

#registrolivre {
	font-size: 50px;
	font-family: arial;
}

#divSocios .list-group-item {
	border-radius: 0;
	border-width: 1px 0 0;
	margin: 0 -15px 20px;
}

.margin-100-0-0-0 {
	margin: 100px 0 0 0;
}

.margin-0-30 {
	margin: 0 30px;
}

.margin-0-20 {
	margin: 0 20px;
}

.margin-0-15 {
	margin: 0 15px;
}

.margin-0-6 {
	margin: 0 6px;
}

.margin-6-0 {
	margin: 6px 0;
}

.margin-15-0 {
	margin: 15px 0;
}


.margin-30-0 {
	margin: 30px 0;
}

.margin-35-0 {
	margin: 35px 0;
}

.margin-250-0 {
	margin: 250px 0;
}

.padding-15-0 {
	padding: 15px 0;
}

.padding-6-0 {
	padding: 6px 0;
}

.padding-0-6 {
	padding: 0 6px;
}

.padding-30-0-0-0 {
	padding: 30px 0 0 0;
}

.centralize {
	text-align: center;
}

.width-100{
	width:100%;
}

.a-color-black {
	text-decoration: none;
	color: #000;
}

.a-color-black:hover {
	text-decoration: none;
}

.small {
	font-size: 11px
}

h4 {
	font-weight: bold;
}

.title{
	margin: 50px 0px 30px 0px; 
}

.panel-divider {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.color-red {
	color: #A94442;
}

.msg-alert {
	display: none;
}

.transparente {
	opacity: 0.7;
}

.img-background {
	background-image: url("/assets/img/1.jpg");
	background-size: 1500px 1000px;
	background-repeat: no-repeat;
	font-weight: bold;
}

.btn-borders-navbar li {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-borders-navbar li:first-child {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.img-140 {
	height: 100px;
	width: 100px;
}

.font-size-40 {
	font-size: 40px;
}

.avatar{
	text-align: center;
	margin: 14px 12px;
}

.avatar .nome{
	font-size: 17px;
	height: 30px;
}

.avatar .tipo{
	font-size: 14px;
}

a:hover, .cursor-pointer{
	cursor: pointer;
}

.rodape {
	position: relative;
	bottom:0;
	width:100%;
}