
/* Celulares */

@media(max-width:767px){

	body, .select-wrapper select, .form-control{
		font-size: 12px;
	}
	
	
	h1{
		font-size: 47px;
	}
	
	h2{
		font-size: 22px;
	}
	
	h4{
		font-size: 16px;
	}
	
	.nav > li {
		border-top: 1px solid rgba(0,0,0,0.1);
		text-align: center;
	}
	
	.logo{
		width: 119px !important;
		height: 136.85px !important;
	}
	
	.title{
		font-size: 67px;
	}
	
	.avatar{
		height:230px;
	}
	
	.avatar .imagem{
		width: 145px;
		height:145px;
	}
	
	.logo-navbar{
		height: 50px;
		width: 40px;
		position: absolute;
		left: 50%;
		margin: 2px 0 0 -20px;	
	}	
	
	.margin-100-0-0-0{
		margin: 25px 0 0 0;
	}
	

	.margin-35-0 {
		margin: 15px 0;
	}
	
	.pull-right-lg{
		float: none;
	}
	
	.btn-download-pull-left {
		margin-left: 0;
	}
	
	
}


/* Tablets */

@media(min-width:768px){

	.avatar{
		height:230px;
	}
	
	.avatar .imagem{
		width: 145px;
		height:145px;
	}
	
	
	
	.pull-right-lg{
		float: right;
	}	
	
}



/* Desktops Antigos */

@media(min-width:992px){
	
	.avatar{
		height:230px;
	}
	
	.avatar .imagem{
		width: 145px;
		height:145px;
	}	
	
	.pull-right-lg{
		float: right;
	}
	
}


/* Desktop Widescreen */

@media(min-width:1200px){
	
	.avatar{
		height:200px;
	}
	
	.avatar .imagem{
		width: 125px;
		height:125px;
	}
	
	.pull-right-lg{
		float: right;
	}
	
}