.margin-0-30 {
	margin: 0 30px;
}

.margin-0-15 {
	margin: 0 15px;
}

.margin-0-6 {
	margin: 0 6px;
}

.margin-6-0 {
	margin: 6px 0;
}

.margin-30-0 {
	margin: 30px 0;
}

.margin-35-0 {
	margin: 35px 0;
}

.padding-15-0 {
	padding: 15px 0;
}

.padding-6-0 {
	padding: 6px 0;
}


.centralize {
	text-align: center;
}

.a-color-black {
	text-decoration: none;
	color: #000;
}

.a-color-black:hover {
	text-decoration: none;
}

.small{font-size:11px}

h4 {
	font-weight: bold;
}

.panel-divider {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}